@{
    ViewData["Title"] = "CS50 Cheatsheets";

    <div>
        <img src="\images\cheatsheets.png" alt="CS50 Cheatsheets" height="100" width="2000">
    </div>

    <h4> Study and help your peers by uploading the most important and useful notes for each CS50 quiz! </h4>

    <div>
    <h2> QUIZ 0 </h2>
    Submit your notes here for Quiz 0
    </div>

    
    @model List<FinalProject.Models.QuizNote>
    <div>
    
        <form asp-action="NoteSubmit" class="form-inline mbm" method="POST">
           <input type="hidden" name="num" value=0>
           Name: <input type="text" name="name" placeholder="Your Name Here"><br>
            <br>
            <textarea rows="4" cols="50" name="notetext" placeholder="Enter quiz notes here..."></textarea>
            <br>
            <input class="btn" type="submit" value="Submit Quiz Note" />
        </form>

    </div>

    <div>
        (ALL SUGGESTED QUIZ0NOTES WILL BE LOOPED DOWN HERE)
        <form asp-action="Print" class="form-inline mbm" method="POST">
        
       
                <br>
        </form>
    </div>


      <div>
    <h2> QUIZ 1 </h2>
    Submit your notes here for Quiz 1
    </div>
    
    <div>
    
        <form asp-action="NoteSubmit" class="form-inline mbm" method="POST">
            <input type="hidden" name="num" value=1>
           Name: <input type="text" name="name" placeholder="Your Name Here"><br>
            <br>
            <textarea rows="4" cols="50" name="notetext" placeholder="Enter quiz notes here..."></textarea>
            <br>
            <input class="btn" type="submit" value="Submit Quiz Note" />
        </form>

    </div>

    <div>
        (ALL SUGGESTED QUIZ1NOTES WILL BE LOOPED DOWN HERE)

    <form asp-action="Print" class="form-inline mbm" method="POST">

        <!--@for(int x= 0; x < Model.Count; x++)
        {
            if(Model[x].QuizNumber == 1)
            {  
                <label> <input type="radio" name="notetext" value= @Model[x].NoteText> @Model[x].NoteText  </label> <br> 
                <label> <input type="radio" name="notetext" value= ""> @Model[x].Name </label> <br>
            }
            
        }-->
       @foreach (var item in Model) 
            {
                    @item.Name
                    @item.QuizNumber 
                    <br>
                    @item.NoteText
            }
    </form>
    </div>


}

